[Desktop Entry]
Exec=/usr/bin/xautolock -secure -time 10 -locker 'gnome-screensaver-command --lock'
TryExec=/usr/bin/xautolock
Name=xautolock
Comment=fire up programs in case of user inactivity under X
Type=Application
