Xft.dpi: 96
! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! IBM1970 theme: https://github.com/andornaut/ibm1970-desktop-theme
! Normal colors
! Black
*color0:  #073642
! Red
*color1:  #dc322f
! Green
*color2:  #b5bd68
! Yellow
*color3:  #b58900
! Blue
*color4:  #268bd2
! Magenta
*color5:  #d33682
! Cyan
*color6:  #2aa198
! White
*color7:  #eee8d5
! Bright colors
! Black
*color8:  #24201A
! Red
*color9:  #cb4b16
! Green
*color10: #586e75
! Yellow
*color11: #657b83
! Blue
*color12: #839496
! Magenta
*color13: #6c71c4
! Cyan
*color14: #93a1a1
! White
*color15: #fdf6e3
! Primary
*foreground: #dddccc
*background: #423f2e
*cursorColor: #dddccc
*selectionForeground: #dddccc
*selectionBackground: #006B6B
*font: xft:Source\ Code\ Pro:size=18
! Must override the built-in font for URxvt
URxvt*font: xft:Source\ Code\ Pro:size=18
Xcursor.size: 32
URxvt*termName: xterm-256color
