window {
    color: #423f2e;
    font-family: "DejaVu Sans Condensed", "DejaVu Sans Mono", sans-serif;
    font-size: 16px;
}

button {
    all: unset;
}

button:hover {
    background: #7c7755;
}

.icon {
    font-family: FontAwesome;
}

.battery,
.datetime,
.temperature {
    padding: 10px 0;
}

.battery__label,
.datetime__label,
.temperature__label,
.volume__label {
    padding-bottom: 10px;
}

.datetime__date,
.datetime__time {
    font-size: 14px;
}

.datetime__date {
    padding-bottom: 5px;
}

.desktops__desktop {
    border-bottom: 1px solid #7c7755;
    color: inherit;
    padding: 10px;
}

.desktops__desktop--occupied {
    background: #9c9977;
}

.desktops__desktop--focused {
    /* Must be below --occupied to take precedence */
    background: #7c7755;
}

.desktops__desktop--urgent {
    /* Must be below --focused to take precedence */
    background: #33a999;
}

.system .button,
.volume .button {
    padding: 15px 0;
}

/* Systray popup menus can be styled with:
 * https://github.com/elkowar/eww/issues/1244
 */
.systray {
    padding: 10px;
}

.bottom-section .widget {
    border-top: 1px solid #7c7755;
}
