window {
    color: #464333;
    font-family: "DejaVu Sans Condensed", "DejaVu Sans Mono", sans-serif;
    font-size: 16px;
}

button {
    all: unset;
    min-height: 20px;
}

button:hover {
    background: #7c7755;
}

.icon {
    font-family: FontAwesome;
}

.desktops__button {
    color: inherit;
}

.desktops__button--occupied {
    background: inherit;
}

.desktops__button--focused {
    /* Must be below --occupied to take precedence */
    background: #7c7755;
}

.desktops__button--urgent {
    /* Must be below --focused to take precedence */
    background: #33a999;
}

.leftbar {
    .battery__label {
        padding-bottom: 5px;
    }

    .datetime__label,
    .temperature__label {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .datetime__date,
    .datetime__time {
        font-size: 14px;
    }

    .datetime__date {
        padding-bottom: 5px;
    }

    .desktops__button {
        border-bottom: 1px solid #7c7755;
        border-right: 1px solid #7c7755;
        min-height: 35px;
    }

    .system .button,
    .volume .button {
        padding: 5px 0;
    }

    .bottom-section .widget {
        border-top: 1px solid #7c7755;
        border-right: 1px solid #7c7755;
        padding: 10px 0;
    }
}

.topbar {
    .desktops__button {
        border-right: 1px solid #7c7755;
        padding: 2px 5px;
    }

    .label {
        margin-right: 5px
    }

    .volume .button {
        padding: 0 3px;
    }

    .left-section .widget {
        border-left: 1px solid #7c7755;
        padding: 0 10px;
    }
}
